

/********************* BASIC BOILERPLATE CORRECTIONS *********************/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;  /* Mainly for inputs and buttons */
    transition-behavior: allow-discrete;
}

/* Smooth transitions */
:root {
  interpolate-size: allow-keywords;
}

/* Use dark mode and smooth scrolling by default */
html {
    color-scheme: dark light; 
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}



/*********************  DIM SPECIAL   *********************/

/* Prevent all non-defined custom elements from displaying: */
*:not(:defined) { display: none; }

/* Hide cloaked elements for Alpine.js */
[x-cloak] { display: none !important; }

/* Hide elements, for my js scripts */
.d-none { display: none !important; }

/* View transition between pages */
@view-transition {
    navigation: auto;
}



/*********************    ELEMENTS    *********************/

/* Remove default margin and padding */
body, p {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}
h1,h2,h3,h4,
figure,blockquote,dl,dd {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}
ol, ul, li{
    margin-block: 0;
}

/* Do not stick to edges of page */
body > * {
    max-width: min(100% - 2rem, 50rem);
    margin-inline: auto; /*centers*/
}  

/* Make images easier to work with */
img,
svg,
.center,
picture,
figure {
  max-width: 100%;
  display: block;
  margin-inline: auto;		
  text-align: center;	/*text inside figure*/
}

/* Links */
a{
    text-decoration: none;
    box-shadow: none;
    transition: all 0.3s; 
    font-weight: bold;
    color: Blue;
}
a:hover{color: black}
a:focus{outline: black solid 3px}



/*********************  HEADER FOOTER   *********************/

/* Header */
header, header a:first-of-type, header nav>ul {    /*header, left logo, right navs*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;  /*vertical align, when big logo*/
    list-style-type: none; 
    gap: 0.7rem 0.2em;
}

/* Footer*/
footer, footer p{font-size: small}



/* classes */
.container{
    max-width: min(100% - 2rem, 50rem);
    margin-inline: auto; /*centers */
    overflow-x: hidden;
}


