

/********************* BASIC BOILERPLATE CORRECTIONS *********************/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;  /* Mainly for inputs and buttons */
    transition-behavior: allow-discrete;
}

/* Smooth transitions */
:root {
  interpolate-size: allow-keywords;
}

/* Use dark mode and smooth scrolling by default */
html {
    color-scheme: dark light; 
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}



/*********************  DIM SPECIAL   *********************/

/* Prevent all non-defined custom elements from displaying: */
*:not(:defined) { display: none; }

/* Hide cloaked elements for Alpine.js */
[x-cloak] { display: none !important; }

/* Hide elements, for my js scripts */
.d-none { display: none !important; }

/* View transition between pages */
@view-transition {
    navigation: auto;
}



/*********************    ELEMENTS    *********************/

/* Remove default margin and padding */
body, p {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}
h1,h2,h3,h4,
figure,blockquote,dl,dd {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}
ol, ul, li{
    margin-block: 0;
}

/* Do not stick to edges of page */
body > * {
    max-width: min(100% - 2rem, 50rem);
    margin-inline: auto; /*centers*/
}  

/* Make images easier to work with */
img,
svg,
.center,
picture,
figure {
  max-width: 100%;
  display: block;
  margin-inline: auto;		
  text-align: center;	/*text inside figure*/
}

/* Links */
a{
    text-decoration: none;
    box-shadow: none;
    transition: all 0.3s; 
    font-weight: bold;
    color: Blue;
}
a:hover{color: black}
a:focus{outline: black solid 3px}



/*********************  HEADER FOOTER   *********************/

/* Header */
header, header a:first-of-type, header nav>ul {    /*header, left logo, right navs*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;  /*vertical align, when big logo*/
    list-style-type: none; 
    gap: 0.7rem 0.2em;
}

/* Footer*/
footer, footer p{font-size: small}



/* classes */
.container{
    max-width: min(100% - 2rem, 50rem);
    margin-inline: auto; /*centers */
    overflow-x: hidden;
}



/*********************  HTML ATTRIBUTES   *********************/

[data-style-color] { color: attr(data-style-color type(<color>)) }
[data-style-background-color] { background-color: attr(data-style-background-color type(<color>)) }
[data-style-border-color] { border-color: attr(data-style-border-color type(<color>)) }
[data-style-font-size] { font-size: attr(data-style-font-size type(<length-percentage>)) }
[data-style-min-width] { min-width: attr(data-style-min-width type(<length-percentage>)) }
[data-style-min-height] { min-height: attr(data-style-min-height type(<length-percentage>)) }

/* [data-style-button] { color: attr(data-style-button type(<color>)) } */


.btn[data-style-button] {
    /* color: attr(data-style-button type(<color>)); */
  --button-color: attr(data-style-button type(<color>));

  --bs-btn-color: var(--bs-light);
  --bs-btn-bg: var(--button-color);
  --bs-btn-border-color: var(--button-color);

  --bs-btn-hover-color: var(--bs-light);
  --bs-btn-hover-bg:
    oklch(from var(--button-color) calc(l - 0.08) c h);
  --bs-btn-hover-border-color:
    oklch(from var(--button-color) calc(l - 0.08) c h);

  --bs-btn-active-color: var(--bs-light);
  --bs-btn-active-bg:
    oklch(from var(--button-color) calc(l - 0.12) c h);
  --bs-btn-active-border-color:
    oklch(from var(--button-color) calc(l - 0.12) c h);

  --bs-btn-disabled-color: var(--bs-light);
  --bs-btn-disabled-bg: var(--button-color);
  --bs-btn-disabled-border-color: var(--button-color);
}
